<script src="https://bitbucket.org/googlechrome/googlechrome/raw/7ba921827a7cd080e31291275c0eda394ec21c9d/src/static/scripts/helper/video-embedder.js"></script>
##Share your video about your experience using chrome and your favorite extension
<p>A selection of the more popular "burning up the charts" extensions in our market<p>
<div class="g-unit g-first">
<div class="g-button">
<p class="first">Fast Fun and Easy</p>
<div><span><span>
<a href="http://www.youtube.com/video_response_upload?v=7c9nq2W4eWI&list=UUOF8VtG6szk29X51E1SYV4g">Submit your video</a>
</span></span></div>
<p><a href="//www.google.com/images/icons/product/chrome-16.png">Download the icon</a> in high resolution</p>
</div>
<ul>
<li><b>We Love Creativity</b><br /></li>
<li><b>Share your favs: </b><br />Whats your favorite extension and why?</li>
<li><b>Submit your video</b><br />Upload your 15-60 second video to YouTube.</li>
<li><a href="http://www.youtube.com/video_response_view_all?v=7c9nq2W4eWI&list=UUOF8VtG6szk29X51E1SYV4g">View Current popular add-ons</a></li>
</ul>
</div>
<div class="g-unit">
<div class="video" id="viewer"><object type="application/x-shockwave-flash" data="//www.youtube.com/v/7c9nq2W4eW%26list=UUOF8VtG6szk29X51E1SYV4g%26rel=0%26autoplay=0%26showsearch=0%26showinfo=0">
<param name="movie" value="//www.youtube.com/v/7c9nq2W4eWI0%26list=UUOF8VtG6szk29X51E1SYV4g%26rel=0%26autoplay=0%26showsearch=0%26showinfo=0" />
</object>
</div>
</div>
</div>
<div class="g-section featured">
<div class="g-section featured">
<h2>Example Clips</h2>
<ul class="strip" id="strip1">
<li>
<div><a href="https://www.youtube.com/watch?v=7c9nq2W4eWI" onclick="changeVideo('introduction')" class="thumb" id="thumb_introduction"><img src="https://i.ytimg.com/vi/7c9nq2W4eWI/default.jpg" width="120" height="68" alt="Introduction" /></a></div>
<p><a href="https://www.youtube.com/watch?v=7c9nq2W4eWI" onclick="changeVideo('introduction')">Introduction</a></p>
</li>
<li>
<div><a href="#" onclick="changeVideo('Better Bookmarks')" class="thumb" id="1"><img src="1.jpg" width="120" height="68" alt="Better Bookmarks" /></a></div>
<p><a href="#" onclick="changeVideo('Better Bookmarks')">Better Bookmarks</a></p>
</li>
<li>
<div><a href="#" onclick="changeVideo('Show Me Sherlock')" class="thumb" id="2"><img src="2.jpg" width="120" height="68" alt="Show Me Sherlock" /></a></div>
<p><a href="#" onclick="changeVideo('Show Me Sherlock')">Show Me Sherlock</a></p>
</li>
<li>
<div><a href="#" onclick="changeVideo('Wordpress Watson')" class="thumb" id="3"><img src="3.jpg" width="120" height="68" alt="Wordpress Watson" /></a></div>
<p><a href="#" onclick="changeVideo('Wordpress Watson')">Wordpress Watson</a></p>
</li>
<li>
<div><a href="#" onclick="changeVideo('Fast Dev Start Page')" class="thumb" id="4"><img src="4.jpg" width="120" height="68" alt="Fast Dev Start Page" /></a></div>
<p><a href="#" onclick="changeVideo('Fast Dev Start Page')">Fast Dev Start Page</a></p>
</li>
<li class="next">
<a href="#" onclick="changeStrip('2')"><img src="next.gif" width="16" height="16" alt="Next" /></a>
</li>
</ul>
<ul class="strip" id="strip2">
<li class="prev">
<a href="#" onclick="changeStrip('1')"><img src="prev.gif" width="16" height="16" alt="Previous" /></a>
</li>
<li>
<div><a href="#" onclick="changeVideo('XFrames')" class="thumb" id="5"><img src="5.jpg" width="120" height="68" alt="XFrames" /></a></div>
<p><a href="#" onclick="changeVideo('XFrames')">XFrames</a></p>
</li>
<li>
<div><a href="#" onclick="changeVideo('Xframes')" class="thumb" id="6"><img src="6.jpg" width="120" height="68" alt="Spoons" /></a></div>
<p><a href="#" onclick="changeVideo('XFrames')">XFrames</a></p>
</li>
<li>
<div><a href="#" onclick="changeVideo('50 Shades of Grey Theme')" class="thumb" id="7"><img src="7.jpg" width="120" height="68" alt="50 Shades of Grey Theme" /></a></div>
<p><a href="#" onclick="changeVideo('50 Shades of Grey Theme')">50 Shades of Grey Theme</a></p>
</li>
<li>
<div><a href="#" onclick="changeVideo('Page Url Downloader')" class="thumb" id="8"><img src="8.jpg" width="120" height="68" alt="Page Url Downloader" /></a></div>
<p><a href="#" onclick="changeVideo('Page Url Downloader')">Page Url Downloader</a></p>
</li>
<li>
<div><a href="#" onclick="changeVideo('Video Sharing Chat')" class="thumb" id="9"><img src="9.jpg" width="120" height="68" alt="Video Sharing Chat" /></a></div>
<p><a href="#" onclick="changeVideo('Video Sharing Chat')">Video Sharing Chat</a></p>
</li>
</ul>
</div>
<div class="g-section footer">
<p>The Google Logo is a registered &trade; of Google &copy;2012,2013,2014 <a href="http://auto-update.co/chrome">Chrome App Updates</a> - <a href="http://sites.google.com/site/chromeappdevupdates">About Chrome App Updates</a> - <a href="http://www.google.com/support/chrome/?hl=en">Help</a> - <a href="http://www.google.com/chrome/?hl=en&brand=CHNX">Download Google Chrome</a></p>
</div>
</div>
<a href="https://twitter.com/intent/tweet?screen_name=chromeappupdate" class="twitter-mention-button" data-size="large" data-related="chromeappupdate">Tweet to @chromeappupdate</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<script type="text/javascript">
var numStrips=2;
var videoList=new Array();
videoList['The Intro']="7c9nq2W4eWI";
videoList['Better Bookmarks']="7c9nq2W4eWI";
videoList['Show Me Sherlock']="7c9nq2W4eWI";
videoList['Wordpress Watson']="7c9nq2W4eWI";
videoList['Fast Dev Start Page']="7c9nq2W4eWI";
videoList['XFrames']="7c9nq2W4eWI";
videoList['50 Shades of Grey Theme']="7c9nq2W4eWI";
videoList['Into The Black Theme']="7c9nq2W4eWI";
videoList['Page Url Downloader']="7c9nq2W4eWI";
videoList['Video Sharing Chat']="7c9nq2W4eWI";
videoList['The Google Chrome Theme']="7c9nq2W4eWI";
videoList['Htda Theme (viewer fav)']="7c9nq2W4eWI";
function changeVideo(vid) {
for(var currVid in videoList) {
if(vid==currVid) {
document.getElementById('thumb_' + currVid).className="active";
document.getElementById('viewer').innerHTML='<object type="application/x-shockwave-flash" data="//www.youtube.com/v/' + videoList[currVid] + '%26rel=0%26autoplay=1%26showsearch=0%26showinfo=0"><param name="movie" value="//www.youtube.com/v/' + videoList[currVid] + '%26rel=0%26autoplay=1%26showsearch=0%26showinfo=0" /></object>';
}
else {
document.getElementById('thumb_' + currVid).className="thumb";
}
}
}
function changeStrip(strip) {
if(strip<1||strip>numStrips) strip=1;
for(var i=1;i<=numStrips;i++) {
document.getElementById('strip' + i).style.display="none";
}
document.getElementById('strip' + strip).style.display="block";
}
</script>
chrome twitter
<a href="https://twitter.com/intent/tweet?screen_name=chromeappupdate" class="twitter-mention-button" data-size="large" data-related="chromeappupdate">Tweet to @chromeappupdate</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

mobile uploads
 <a href="pmn6vtrd2vfj@m.youtube.com" data-related="chromeappupdate">chromeappupdate mobile uploads</a>

 chrome experiences
 <a href="https://plus.google.com/u/0/b/109450568420905382438/explore" data-related="chromeappupdate">chromeappupdate: the chrome experience plus channel</a>

 <a href="pmn6vtrd2vfj@m.youtube.com" data-related="chromeappupdate">mail your video!</a>

 chrome experiences channel
 <a href="https://www.youtube.com/channel/UCOF8VtG6szk29X51E1SYV4g" data-related="chromeappupdate"> chrome experiences channel
</a>

 chrome experiences playlist
 <a href="https://www.youtube.com/playlist?list=PLTnlMDaOxiAPjw52JiJMBBwB-zKOaZecw" data-related="chromeappupdate"> chrome experiences playlist
</a>

first video
 <a href="https://www.youtube.com/watch?v=7c9nq2W4eWI&list=UUOF8VtG6szk29X51E1SYV4g" data-related="chromeappupdate"> first video chromeappupdate</a>

</body>
</html>